@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;700&display=swap");

body {
  font-family: 'Fira Sans', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1em;
  min-height: 2em;
}

.linky::after {
  position: absolute;
  content: " ";
  background-color: #cd350b;
  width: 75%;
  height: 1px;
  left: 9px;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.linky:hover::after {
  transform: scaleX(1);
}

h4 {
  color: #701d06;
  font-size: 25px;
}
